<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Reportes</h1>
	        <div class="row">
		        <div class="col-md-3">
		            <p class="input-group">
		            	<span class="input-group-btn">
		                	<label class="btn btn-primary">Desde</label>
		              	</span>
		              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.from" is-open="openedFrom" max-date="date.to" ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		        <div class="col-md-3">
		            <p class="input-group">
		            	<span class="input-group-btn">
		                	<label class="btn btn-primary">Hasta</label>
		              	</span>
		              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.to" is-open="openedTo" datepicker-options="dateOptions" min-date="date.from" ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		        <div class="col-md-3">
		        	 <div class="btn-group">
				        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Ambos'">Ambos</label>
				        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Perro'">Perros</label>
				        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Gato'">Gatos</label>
				    </div>
		        </div>
		        <div class="col-md-2">
		        	 <button type="button" class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i>Buscar</button>
		        </div>
		    </div>
			
			<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3>Reporte de altas</h3>
	            	<small>Desde {{date.from | date:"dd/MM/yyyy"}} hasta {{date.to | date:"dd/MM/yyyy"}}</small>
	            </div>

	            <div class="panel-body">
	                <canvas id="reports-bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"></canvas>

	            </div>
	            <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>                                
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody >                                        
                            <tr>
                            	<th>Alta publicacion adopciones</th>
                            	<td>{{bar.data[0][0]}}</td>
                            </tr>
                            <tr>
                            	<th>Alta publicacion adoptadas</th>
                            	<td>{{bar.data[0][1]}}</td>
                            </tr>
                            <tr>
                            	<th>Alta publicacion perdidas</th>
                            	<td>{{bar.data[0][2]}}</td>
                            </tr>
                            <tr>
                            	<th>Alta publicacion halladas</th>
                            	<td>{{bar.data[0][3]}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
	       		 </div>
			</div>
		<!-- /.col-lg-12 -->
		</div>
	<!-- /.row -->
	</div>	

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Reporte de tiempos
			</h1>
			<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3>Tiempo promedio de adopcion <small>[En días]</small></h3>
	            	<small>Desde {{date.from | date:"dd/MM/yyyy"}} hasta {{date.to | date:"dd/MM/yyyy"}}</small>
	            </div>
	            <div class="panel-body">                      
	            	{{average.adoption}}
	            </div>

			</div>
			<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3>Tiempo promedio de hallazgo <small>[En días]</small></h3>
	            	<small>Desde {{date.from | date:"dd/MM/yyyy"}} hasta {{date.to | date:"dd/MM/yyyy"}}</small>
	            </div>

	            <div class="panel-body">                       
	            	{{average.found}}
	            </div>

			</div>
		<!-- /.col-lg-12 -->
		</div>
	<!-- /.row -->
	</div>
</div>

