<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.support.android.designlibdemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.support.android.designlibdemo.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.support.android.designlibdemo.permission.C2D_MESSAGE" />
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Base.Theme.DesignDemo" >
        <!--android:name="android.support.multidex.MultiDexApplication"-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_api_key" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".SearchInAdoptionActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".SearchInAdoptionActivity2"
            android:parentActivityName=".SearchInAdoptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchInAdoptionActivity" />
        </activity>

        <activity
            android:name=".ResultListActivity"
            android:parentActivityName=".SearchInAdoptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchInAdoptionActivity" />
        </activity>

        <activity
            android:name=".MatchResultListActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchInAdoptionActivity" />
        </activity>

        <activity
            android:name=".PetsDetailActivity"
            android:parentActivityName=".ResultListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResultListActivity" />
        </activity>

        <activity
            android:name=".MatchedPetsDetailActivity"
            android:parentActivityName=".MatchResultListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResultListActivity" />
        </activity>

        <activity
            android:name=".PublishInAdoptionActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PublishInAdoptionActivity2"
            android:parentActivityName=".PublishInAdoptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PublishInAdoptionActivity" />
        </activity>

        <activity
            android:name=".PublishInAdoptionActivity3"
            android:parentActivityName=".PublishInAdoptionActivity2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PublishInAdoptionActivity2" />
        </activity>
        
        <activity
            android:name=".NotificationActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".NotificationHandlerActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".FoundPetActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name=".LoginUserActivity"
            android:parentActivityName=".LoginActivity"
            android:label="@string/title_activity_login_user"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:label="@string/title_activity_register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity
            android:name=".Register2Activity"
            android:parentActivityName=".RegisterActivity"
            android:label="@string/title_activity_register2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegisterActivity" />
        </activity>
        <activity
            android:name=".model.ReportLostPet"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.support.android.designlibdemo.MainActivity" />
        </activity>

        <activity
            android:name=".data.maps.MapActivity"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".model.ReportLostPet" />
        </activity>
        <service android:name="com.parse.PushService" />
        <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name=".parse.CustomPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.support.android.designlibdemo" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon"
            android:resource="@drawable/footprint3"/>
    </application>

</manifest>
